// Colors
$white: #fff;
$black: #000;
$primary: #a36fd3;
$accent: #07163a;
$accent-dark: #02050f;
$box: rgb(136, 147, 218);

// Text Colors
$text-color: $black;
$text-color-light: $white;
$text-color-primary: $primary;
$text-color-accent: $accent;
$text-color-accent-dark: $accent-dark;

$success: #28a745;
$error: #dc3545;

// Background
$main-background: radial-gradient(
  rgba(165, 200, 224, 1) 0%,
  rgba(150, 180, 210, 1) 50%,
  rgba(90, 90, 130, 0.6) 100% // Darker purple shade
);
$mobile-background: lightblue;
$primary-background: #1a191d;
$container-background: #f2f2f2;

// Layout Breakpoints
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1200px;
