<div class="decade">
  <h2 class="decade-title">
    {{ title }}
    <img [src]="tuneIcon" alt="Icon" class="icon" />
  </h2>
  <div class="decade-description">{{ description }}</div>
</div>

<div class="decade-data-container">
  <div class="decade">
    <div class="square-container">
      <div class="square" *ngFor="let legend of data.slice(0, data.length / 2)">
        <ng-container
          *ngTemplateOutlet="legendTemplate; context: { legend: legend }"
        ></ng-container>
      </div>
    </div>
  </div>
  <div class="decade" *ngIf="data.length >= halfDataLength">
    <div class="square-container">
      <div class="square" *ngFor="let legend of data.slice(data.length / 2)">
        <ng-container
          *ngTemplateOutlet="legendTemplate; context: { legend: legend }"
        ></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #legendTemplate let-legend="legend">
  <h3 class="bold-title">{{ legend.title }}</h3>
  <img
    class="legend-image"
    [src]="legend.image"
    alt="{{ legend.name }}"
    (click)="openLegendDialog(legend)"
    [title]="'Read about ' + legend.name + ' and my feature monumental album'"
  />
  <div class="link-container">
    <a
      [href]="legend.link"
      target="_blank"
      class="custom-link"
      [title]="'Read about ' + legend.name + ' on Wikipedia'"
      >{{ legend.name }}</a
    >
    <a
      *ngIf="legend.spotifyLink"
      [href]="legend.spotifyLink"
      target="_blank"
      class="custom-link"
      [title]="'Listen to ' + legend.name + ' on Spotify'"
    >
      <img [src]="spotifyIcon" alt="Spotify" class="music-icon" />
    </a>
    <a
      *ngIf="legend.appleMusicLink"
      [href]="legend.appleMusicLink"
      target="_blank"
      class="custom-link"
      [title]="'Listen to ' + legend.name + ' on Apple Music'"
    >
      <img [src]="appleMusicIcon" alt="Apple Music" class="music-icon" />
    </a>
  </div>
</ng-template>
